<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/styles.css"> <!-- CSS -->
        <script src="../javascript/task-list.js" type="text/javascript"></script> <!-- Includes Ajax Logic -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <!-- Will store spawned popups, such as the additional task menu upon clicking on a selected task -->
        <div id="popupScreenDiv">
        </div>

        <h1>{{ websiteName }}, Your To Do List Tracker</h1>

        <div id="nameDisplay"> <!-- Name Display -->
            <h2 id="welcomeMessage">Hello, {{ username }}</h2>
            <a href="../redirect/logout-redirector.php"><button class="button displayBlockCenter">Logout</button></a>
        </div>

        <p id="message"></p> <!-- If error message exists, it will be shown. -->

        <button id="filterToggleButton" class="button displayBlockCenter">Filters</button>

        <!-- Will store the spawned template -->
        <div id="FilterMenuWrapper"></div>

        <!-- Filter Menu Template - Spawned With Button -->
        <template id="filterContainerTemplate">
            <!-- Filter Container -->
            <div id="filterContainer">

                <!-- Status Search Filters --> 
                <div id="statusFilterContainer">
                    <h3>Status Filter</h3>
                    <select id="statusFilterType" name="statusFilterType">
                        <option value="anyStatus">Any Status</option>
                        <option value="pendingStatus">Pending Only</option>
                        <option value="completedStatus">Completed Only</option>
                    </select>
                </div>

                <!-- Name Filter --> 
                <div id="nameFilterContainer">
                    <h3>Name Filter</h3>

                    <!-- Autocomplete as off so it does not suggest any previously entered tasks" -->
                    <!-- On submit code is to disable submitting the form since this is not a submittable form -->
                    <form id="nameFilterForm" autocomplete="off" onsubmit="return false;"> <!-- Form which will also hold datalist injections -->
                    
                        <input list="autoSuggest" type="text" id="nameFilter" name="nameFilter"></input>
                    
                    </form>
                </div>

                <!-- Date Filter --> 
                <div id="dateFilterContainer">
                    <h3>Date Filter</h3>
                    <div id="dateFromDateToWrapper"> <!-- Wrapper for centering -->
                        <div> <!-- Date From -->
                            <label for="dateStartFilter">From</label>
                            <input type="date" id="dateStartFilter" name="dateStartFilter"></input>
                        </div>

                        <div> <!-- Date To -->
                            <label for="dateEndFilter">To</label>
                            <input type="date" id="dateEndFilter" name="dateStartFilter"></input>
                        </div>
                    </div>
                </div>            
            </div>

            <div class="buttonWrapper">
                <div class="buttonCenterer filterControllers">
                    <button class="button" id="applyFilterButton">Apply Filter</button>
                    <button class="button" id="clearFilterButton">Clear All Filters</button>
                </div>
            </div>
        </template>

        <!-- Task list table -->
        <h3>Task List</h3>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th hidden>taskID</th>
                </tr>
            </thead>
            <tbody id="taskTableBody">
                {% for task in taskList %}
                    <tr class="task">
                        <td>{{task.taskName}}</td>
                        
                        {% if task.taskDeadline == "0000-00-00" %}
                            <td>No Deadline</td>
                        {% else %}
                            <td>{{task.taskDeadline}}</td>
                        {% endif %}

                        {% if task.pending == 1 %}
                            <td>Pending</td>
                        {% else %}
                            <td>Completed</td>
                        {% endif %}

                        <td hidden>{{task.taskID}}</td> <!-- Hidden task ID is used for handling selection -->
                    </tr>
                {% else %}
                    <tr id="noTasks">
                        <td>N/A</td>
                        <td>No tasks yet</td>
                        <td>N/A</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

        <div id="taskAdditionalMenuContainer"></div>

         <div class="buttonWrapper">
            <div class="buttonCenterer">
                <button class="button" id="addTask">Add Task</button>
                <button class="button" id="modifyTask">Modify Task</button>
                <button class="button" id="deleteTask">Delete Task</button>
            </div>
        </div>

        <div id="menuContainer"></div>

        <!-- Template contents which are controlled with javascript -->
        
        <template id="addTaskMenuTemplate"> <!-- Add Task Menu-->
            <h3>Add A Task</h3>
            <form id="submitForm">
                <label for="ftask">Task:</label>
                <input type="text" id="ftask" name="ftask_add" placeholder="exampleTask" required>
                <label for="fdate">Due Date:</label>
                <input type="date" id="fdate" name="fdate_add">
                <input type="hidden" id="csrfToken" name="csrfToken" value="{{ csrfToken }}">
                <input class="button" type="submit" value="Add Task">
            </form>
        </template>

        <template id="modifyTaskMenuTemplate"> <!-- Modify Task Menu-->
            <h3>Modify A Task</h3>
            <p class="currentSelection">Current Selection:</p>
            <p class="selection" id="selection">[None]</p>
            <form id="submitForm">
                <input type='hidden' id="taskID" name='taskID' value="">
                <label for="modificationType">Choose what to modify:</label>
                <select id="modificationType" name="modificationType">
                    <option value="taskDescription">Task Description</option>
                    <option value="dueDate">Due Date</option>
                    <option value="status">Status</option>
                </select>
                <div id="modifyTypeContainer"> <!-- Stores a menu (injected through javascript) depending on menu type. Default of Task Desc -->
                    <label for="taskDescription">Change to:</label>
                    <input type='text' id="taskDescription" name='taskDescription' value="" required>
                    <input type="hidden" id="csrfToken" name="csrfToken" value="{{ csrfToken }}">
                    <input class="button" type="submit" value="Modify Selected Task">
                </div>
            </form>
        </template>

        <template id="deleteTaskMenuTemplate"> <!-- Delete Task Menu-->
            <h3>Delete A Task</h3>
            <p class="currentSelection">Current Selection:</p>
            <p class="selection" id="selection">[None]</p>
            <form id="submitForm">
                <input type='hidden' id="taskID" name='taskID' value="">
                <input type="hidden" id="csrfToken" name="csrfToken" value="{{ csrfToken }}">
                <input class="button" type="submit" value="Delete Selected Task">
            </form>
        </template>

        <template id="modifyTypeContainer-taskDescription">
            <label for="taskDescription">Change to:</label>
            <input type='text' id="taskDescription" name='taskDescription' value="" required>
            <input type="hidden" id="csrfToken" name="csrfToken" value="{{ csrfToken }}">
            <input class="button" type="submit" value="Modify Selected Task">
        </template>

        <template id="modifyTypeContainer-dueDate">
            <label for="taskDueDate">Change to:</label>
            <input type='hidden' id="taskDueDateModification" name='taskDueDateModification' value="true"> <!-- In case date is left blank -->
            <input type='date' id="taskDueDate" name='taskDueDate' value="">
            <input type="hidden" id="csrfToken" name="csrfToken" value="{{ csrfToken }}">
            <input class="button" type="submit" value="Modify Selected Task">
        </template>

        <template id="modifyTypeContainer-status">
            <input type='hidden' id="taskStatusAction" name='taskStatusAction' value="true">
            <input type="hidden" id="csrfToken" name="csrfToken" value="{{ csrfToken }}">
            <input class="button" type="submit" value="Change Status">
        </template>

        <template id="taskAdditionalMenuPopup">
            <div id="popupScreen"> <!-- The semi-transparent dark effect behind a popup -->
            </div>
            <div id="whiteScreen"> <!-- Actual Popup -->
                <h3 id="taskAdditionalMenu-TaskName">Task Name</h3>

                <p id="messageAdditionalMenu"></p> <!-- If error message exists, it will be shown. -->
                <div id="ThreeSectionDivider">
                    <div id="AdditionalInformationArea">
                        <p class="largeSizedP">Additional Information</p>
                        <textarea id="additionalInformationText"></textarea> <!-- Storage for Additional Information -->
                    </div>

                    <div id="GIFSelectorContainer">
                        <p class="largeSizedP">Set A GIF</p>
                            <label for="GIFSearchField">Search GIF Name:</label>
                            <input type="text" id="GIFSearchField" name="GIFSearchField"></input>
                            <button class="button displayBlockCenter" id="submitGIFSearch">Search GIF</button>

                            <!-- Storage for the GIF Previews -->
                            <div> 
                                <div id="GIF1_Preview"></div>
                                <div id="GIF2_Preview"></div>
                            </div>

                            <!-- Will store GIF submission text when GIFs are loaded -->
                            <div id="gifSubmissionContainerText"></div>

                            <!-- Will store GIF submission button when GIFs are loaded -->
                            <div id="gifSubmissionContainerButton"></div>

                        </div>

                        <div id="GIFContainer"> <!-- Giphy GIF Container -->
                            <p class="largeSizedP">GIF Associated With The Task</p>
                            <div id="taskGIF">
                                <p>[None]</p> <!-- GIF Will Be Injected When It's Added -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template id="gifSubmissionContainerTextTemplate">
            <p id="confirmGIFSelection">Press a GIF to select and then submit</p>
        </template>

        <template id="gifSubmissionContainerButtonTemplate">
            <input type="hidden" id="csrfToken" name="csrfToken" value="{{ csrfToken }}">
            <button class="button displayBlockCenter" id="ConfirmGIF">Confirm Selection</button>
        </template>
    </body>
</html>